.Site {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.Site-content {
   flex: 1 0 auto;
   padding: var( — space) var( — space) 0;
   width: 100%;
}
.Site-content:after {
   content: ‘\00a0’;
   display: block;
   margin-top: var( — space);
   height: 0;
   visibility: hidden;
}