.sidebar{
    font: 17px Helvetica;
    width: 250px;
    line-height: 50px;
    text-indent: 15px;
    background-color: lightskyblue;
}
.sidebar :hover {
    font: bold 18px Helvetica;
    line-height: 50px;
    text-indent: 15px;
    color: darkblue;
  }

.containerFlex_ {
    display: flex;
    flex-wrap: row wrap;
    
}

.ListGroupSideBar {    
    background-color: lightskyblue;
    flex-grow: 0;
}

.ListGroupContent {    
    justify-content: flex-start;
    flex-grow: 1;
}

    