.main_sidebar {
    min-height:100%;position:relative;
    height: 100%;
    top:100;
    width:200px;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.1);
    background: #004A9B;
    font-family: Helvetica;
    font-size: 1rem;
}

.side-menu ul li {
    padding:10px;
    color:#fff;
    display:block;
}
.side-menu ul li:hover {
    background:#167696;
    
}
.side-menu ul li.active {
    background:#0f4698;
}
.side-menu ul li.active:hover {
    background:#167696;
}

.side-menu {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #004A9B;
    border-right: 1px solid #e7e7e7;
  }
  .side-menu .navbar {
    border: none;
  }
  .side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
  }
  .side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .navbar-nav li a {
    padding: 15px;
  }
  .side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
  }
  .side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
  }
  .side-menu #dropdown .indicator {
    float: right;
  }
  .side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
  }
  .side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
  }
  .side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
  }
  .side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
  }
  .side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
  }
  .side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
  }
  .side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
  }
  .side-menu .brand-name-wrapper {
    min-height: 50px;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: block;
  }
  .side-menu #search {
    position: relative;
    z-index: 1000;
  }
  .side-menu #search .panel-body {
    padding: 0;
  }
  .side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
  }
  .side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
  }
  .side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
  }
  .side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
  }
  /* Main body section */
  .side-body {
    margin-left: 310px;
  }