.divStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0 0 0
}

.divStyleFlex {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 5px 15px 10px;
    width: 35%;
    height: 35%
}

.loadingText {color: blue; 
    text-align: center;
    font-family: Arial Black
}

.dataText {color: blue;}

.containerFlex {
    margin: -10px 0 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-basis: auto
}

.buttonChngPwd {
    padding: 0 0 0 20px
}