.main_sidebar {
    width:250px;
    box-shadow: inset 5px 0 5px rgba(63, 43, 148, 0.4);
    background-color: rgb(27, 151, 228);
    height: 100%;    
    font: 16px Helvetica;    
    line-height: 30px;
    text-indent: 25px;
}
.main_sidebar ul {
    list-style:none;
    padding: 0;
    margin: 10;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:rgb(255, 255, 255);
    display:block;
}
.main_sidebar ul li:hover {
    background: SteelBlue;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active:hover {
    background:#167696;
}
.menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
    width: 100%;
}
.menu {
    border: 1px solid red;
    display: flex;
    width: 100%;
}
.content {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 100%;
}
.search {
    display: flex;
    margin-bottom: 50px;
    flex-direction: row; 
}
