.divStyle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 0 0 0
}

.loadingText {color: blue; 
    text-align: center;
    font-family: Arial Black
}

.nameContainerFlex {
    margin: 20px 0 30px 55px;
    width: 91.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background: lightskyblue;
    flex-basis: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.staffNameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.listStaffName {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 10px
}

.mainListContainer {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.mainList {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 80px;
    padding: 0 0 0 0
}

.mainList li {
    display: inline-block;
    list-style: none;
    width:150px;
    margin: 15px 0 0 0
}

.mainDataText {
    color: blue;
    height: 0rem;
    padding: 0 0 20px 0
}

.containerFlex {
    margin: -20px  0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: auto
}

.ListGroupStyleFlex {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 5px 15px 5px;
    width: 30%;
    height: 30%
}

.dataText {
    color: blue;
    height: 0rem
}

.buttonChngPwd {
    padding: 10px 0 0 55px
}


