a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

ul ul a {
  font-size: 14px;
  padding-left: 30px !important;
  background: #004a9b;
  color: white;
}
.sidebarLinkActive {
  background-image: linear-gradient(to right, rgb(39, 129, 247), #004a9b);
  border-top: 1px solid rgb(214, 209, 209);
  border-bottom: 1px solid rgb(214, 209, 209);
  text-indent: 15px;
}

.sidebar {
  color: #fff;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #032a53;
  transition: 0.1s;
  overflow-x: hidden;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.sideBarToggleButton {
  font-size: 20px;
  cursor: pointer;
  height: 42px;
  width: 42px;
  background-color: #032a53;
  color: white;
  padding: 5px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid rgb(95, 116, 136);
}

/* .sideBarToggleButton:hover {
  background-color: rgb(39, 129, 247);
} */

#MainPage {
  width: calc(100% - 250px);
  margin-left: 250px;
  /* margin-left: 0; */
  transition: margin-left 0.3s;
}

.sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar .sidebar-header {
  padding: 20px;
  background-color: #004a9b;
}

.sidebar ul.components {
  padding: 20px 0;
  border-bottom: 0px solid #475f8b;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar ul li a {
  padding: 10px;
  color: white;
  font: 17px Helvetica;
  display: block;
}
.sidebar ul li a:hover {
  color: white;
  background: rgb(39, 129, 247);
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #004a9b;
  border-top: 1px solid #032a53;
}

.pageHeaderBox {
  display: flex;
  background: #004a9b;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 42px;
  position: sticky;
}

.pageHeaderTitleText,
.pageHeaderTitleText:hover {
  font-family: Helvetica;
  font-size: 20px;
  color: rgb(214, 209, 209);
  text-decoration: none;
}

.pageHeaderToggleBox {
  width: 50%;
  left: 5px;
  padding-left: 1px;
}

.pageHeaderTitleBox {
  width: 90%;
  right: 10px;
  padding-top: 5px;
  position: sticky;
  text-align: right;
}

@media (max-width: 768px) {
  .pageHeaderTitleText,
  .pageHeaderTitleText:hover {
    font-size: 16px;
  }
  .pageHeaderTitleBox {
    padding-top: 9px;
  }
  #MainPage {
    width: 100%;
    margin-left: 0;
  }
  .sidebar {
    width: 0;
  }
}

@media (max-width: 100%) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar.active {
    margin-left: 0;
  }
}
