/*** Begin Sidebar Styles ***/
.wrapper {
  display: flex;
  align-items: stretch;
  /* border: 2px solid black; */
}
/* 
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
} */
#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 100%) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
*/ body {
  font-family: Helvetica;
  background: #fafafa;
}

p {
  font-family: Helvetica;
  /* font-size: 1.1em; */
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7em;
  /* color: #999; */
  color: rgb(214, 209, 209);
}

a,
a:hover,
a:focus {
  /* color: inherit; */
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  /* background: #7386d5; */
  background-color: #032a53;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  /* min-height: 100vh; */
  min-height: 95vh;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #004a9b;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 0px solid #475f8b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  /* font-size: 1.1em; */
  color: white;
  font: 17px Helvetica;
  display: block;
}
#sidebar ul li a:hover {
  /* color: #7386d5; */
  /* color: #004a9b; */
  color: white;
  background: #004a9b;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #004a9b;
}
ul ul a {
  /* font-size: 0.9em !important; */
  font-size: 14px;
  padding-left: 30px !important;
  background: rgb(39, 129, 247);
  color: white;
}
/*** End Sidebar Styles ***/

.main_sidebar {
  box-shadow: inset 5px 0 5px rgba(63, 43, 148, 0.4);
  background-color: rgb(27, 151, 228);
  height: 100%;
  min-height: 100%;
  font: 17px Helvetica;
  line-height: 30px;
  text-indent: 25px;
  width: 200px;
  margin-left: -20px;
  position: relative;
}
.inactive {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.inactive:hover {
  color: #fff;
  background: SteelBlue;
  text-decoration: none;
  line-height: 30px;
  text-indent: 25px;
}
.active {
  text-decoration: none;
  background: rgb(53, 108, 153);
  font: bold 17px Helvetica;
  line-height: 30px;
  text-indent: 25px;
}
.content {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.search {
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;
}
.headerContainerFlex {
  margin: 10px 10px 0px 10px;
  width: 96%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  background: #b8e2fc;
  flex-basis: auto;
  box-shadow: 5px 5px 5px rgb(63, 84, 105);
  border: 1px solid gray;
  border-radius: 5px;
}
.headerStyle {
  margin: 0px 0px 0px 0px;
}
.mainContainerFlex {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* border: 2px solid gray; */
}
.tableContainerFlex {
  margin: 0px 10px 10px 10px;
  width: 96%;
  padding: 20px;
  flex-basis: auto;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  border: 1px solid gray;
  border-radius: 5px;
  justify-content: flex-start;
  text-align: left;
}
.mainContainerLeavePages {
  width: 100%;
  text-align: center;
}
.subContainerLeavePages {
  width: 96%;
  display: inline-block;
}
.containerFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-basis: auto;
  width: 100%;
}
.nameContainerFlex {
  width: 97%;
  background: #b8e2fc;
}
.staffNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.listStaffName {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
}
.mainListContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  width: 60%;
}
.mainList {
  display: flex;
  align-items: left;
  justify-content: left;
  align-content: left;
  text-align-last: left;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid gray;
}
.mainDataText {
  color: blue;
  height: 0rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.containerProfileFlex {
  justify-content: flex-start;
  width: 96%;
  padding: 20px;
  margin: 10px 10px auto;
  height: 48%;
  overflow: auto;
}
.ListGroupStyleFlex {
  text-align: left;
  width: 100%;
  height: 35%;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
  font: Helvetica;
  overflow: auto;
}
.menu_a {
  font: 16px Helvetica;
  display: block;
  color: rgb(11, 211, 247);
  text-decoration: none;
  display: inline-block;
  padding: 5px 5px;
}
.menu_a:hover {
  font: 16px Helvetica;
  color: rgb(11, 211, 247);
  text-decoration: underline;
}

/*** Begin Dashboard Styles ***/
.containerDashboard {
  width: 100%;
  height: 100%;
  text-align: center;
}
.thumbNail_DashboardMenu {
  background: white;
  display: inline-block;
  text-align: center;
  font-family: Helvetica;
  height: 100%;
  width: 140px;
  border: 4px solid #032a53;
  vertical-align: top;
  text-align: center;
  margin: 0px 10px 15px 5px;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  border-radius: 5px;
  transition: box-shadow 0.2s;
}
.thumbNail_DashboardMenu:hover {
  /* background: rgb(39, 129, 247); */
  /* transform: rotate(7deg); */
  box-shadow: 8px 8px 5px #004a9b;
}
.thumbNail_DashboardImage {
  height: 110px;
  margin: 10px 10px auto;
}
.thumbNail_DashboardLabel {
  height: 60px;
  vertical-align: middle;
  margin: 14px 0px 0px 0px;
  background: #032a53;
  color: white;
  padding: 6px;
}
/*** End Dashboard Styles ***/
