/*** Begin Sidebar Styles ***/
.wrapper {
  display: flex;
  align-items: stretch;
}
#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 100%) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */

body {
  font-family: Helvetica;
  background: #fafafa;
}
p {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7em;
  color: rgb(214, 209, 209);
}
a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar {
  background-color: #032a53;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 95vh;
}
#sidebar .sidebar-header {
  padding: 20px;
  background-color: #004a9b;
  /* background: rgb(39, 129, 247); */
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 0px solid #475f8b;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  color: white;
  font: 17px Helvetica;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  /* background: #004a9b; */
  background: rgb(39, 129, 247);
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #004a9b;
  border-top: 1px solid #032a53;
  /* border-bottom: 1px solid #032a53; */
  /* background: rgb(31, 119, 233); */
}
ul ul a {
  font-size: 14px;
  padding-left: 30px !important;
  /* background: rgb(31, 119, 233); */
  background: #004a9b;
  color: white;
}
.sidebarLinkActive {
  /* background: #004a9b; */
  /* background: rgb(39, 129, 247); */
  background-image: linear-gradient(to right, #004a9b, rgb(39, 129, 247));
  /* background: white; */
  /* color: #004a9b; */
  /* border: 1px inset white; */
  border-top: 1px solid rgb(214, 209, 209);
  border-bottom: 1px solid rgb(214, 209, 209);
  text-indent: 15px;
}
/*** End Sidebar Styles ***/

/***********************************************************************/

/*** Begin Dashboard Styles ***/
.containerDashboard {
  width: 100%;
  height: 100%;
  text-align: center;
}
.thumbNail_DashboardMenu {
  background: white;
  display: inline-block;
  text-align: center;
  font-family: Helvetica;
  height: 100%;
  width: 145px;
  border: 4px solid #032a53;
  vertical-align: top;
  text-align: center;
  margin: 0px 10px 15px 5px;
  box-shadow: 6px 6px 6px rgb(95, 116, 136);
  border-radius: 14px;
  transition: box-shadow 0.2s;
}
.thumbNail_DashboardMenu:hover {
  box-shadow: 8px 8px 5px #004a9b;
}
.thumbNail_DashboardImage {
  height: 110px;
  margin: 10px 10px auto;
}
.thumbNail_DashboardLabel {
  height: 60px;
  vertical-align: middle;
  margin: 14px 0px 0px 0px;
  background: #032a53;
  color: white;
  padding: 6px;
}
/*** End Dashboard Styles ***/

/***********************************************************************/

/*** Begin View Profile Styles ***/
.loadingTextContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px 0 0 0;
}
.loadingText {
  color: blue;
  text-align: center;
  font-family: Arial Black;
}
.listStaffName {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
  justify-content: flex-start;
}
.profileText {
  color: blue;
  height: 0rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.profileDataText {
  color: blue;
  height: 0rem;
}
.containerProfileFlex {
  width: 100%;
  height: 48%;
  margin: 20px 0px auto;
  text-align: center;
}
.myProfileSubContainer {
  background: white;
  display: inline-block;
  text-align: left;
  font-family: Helvetica;
  height: 248px;
  width: 350px;
  border: 1px solid #032a53;
  vertical-align: top;
  margin: 0px 10px 15px 5px;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  border-radius: 5px;
}
/*** End View Profile Styles ***/

/*** Begin Footer Styles ***/
.footerContainer {
  background: #004a9b;
  font-family: Helvetica;
  text-align: center;
  margin: 0 0 0 0;
  padding: 3px;
  width: 100%;
  height: 38px;
}
.footerText {
  font-family: Helvetica;
  font-size: 13px;
  color: rgb(214, 209, 209);
}
/*** End Footer Styles ***/

/***********************************************************************/

.main_sidebar {
  box-shadow: inset 5px 0 5px rgba(63, 43, 148, 0.4);
  background-color: rgb(27, 151, 228);
  height: 100%;
  min-height: 100%;
  font: 17px Helvetica;
  line-height: 30px;
  text-indent: 25px;
  width: 200px;
  margin-left: -20px;
  position: relative;
}
.inactive {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.inactive:hover {
  color: #fff;
  background: SteelBlue;
  text-decoration: none;
  line-height: 30px;
  text-indent: 25px;
}
.active {
  text-decoration: none;
  background: rgb(53, 108, 153);
  font: bold 17px Helvetica;
  line-height: 30px;
  text-indent: 25px;
}
.content {
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.search {
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;
}
.headerContainerFlex {
  margin: 10px auto;
  width: 98%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  background: #b8e2fc;
  flex-basis: auto;
  box-shadow: 5px 5px 5px rgb(63, 84, 105);
  border: 1px solid #032a53;
  border-radius: 5px;
}
.headerStyle {
  margin: 0px 0px 0px 0px;
}
.mainContainerFlex {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.tableContainerFlex {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 98%;
  padding: 20px;
  flex-basis: auto;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  border: 1px solid #032a53;
  border-radius: 5px;
  justify-content: flex-start;
  text-align: left;
}
.mainContainerLeavePages {
  width: 100%;
  text-align: center;
}
.containerFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-basis: auto;
  width: 100%;
}

.buttonChngPwd {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  width: 100%;
}
.password__show {
  cursor: pointer;
  align-items: flex-end;
  bottom: 12px;
  height: 18px;
  right: 0;
  background: #727272;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.8em;
}
.container_password_show {
  text-align: right;
  padding: 2px 2px;
}

/**********************************************/
/*** React Table Styles ***********************/
/**********************************************/
.reactTableContainer {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 98%;
  padding: 10px;
  flex-basis: auto;
  box-shadow: 5px 5px 5px rgb(95, 116, 136);
  border: 1px solid #032a53;
  border-radius: 5px;
  justify-content: flex-start;
  text-align: left;
}
.ReactTable .rt-thead {
  font-weight: bold;
}
.ReactTable {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
}
.ReactTable .rt-thead.-filters input,
.ReactTable .rt-thead.-filters select,
.ReactTable .-pagination .-pageJump input,
.ReactTable .-pagination input,
.ReactTable .-pagination select {
  border: 1px solid rgb(214, 209, 209) !important;
}
.ReactTable .rt-tr .rt-td {
  height: 40px;
}
.ReactTable .rt-tr .action {
  transition: all 0.2s ease;
  /* text-align: center; */
  transform: scale(0);
}
.ReactTable .rt-tr:hover .action {
  transform: scale(1.3);
}
.ReactTable .rt-tr:hover .rt-td {
  background: #cce7f8;
}
.ReactTable .-pagination .-btn:not([disabled]) {
  /* background: #004a9b !important; */
  background: rgb(214, 209, 209) !important;
  border-radius: 5px;
  color: #004a9b;
  font-weight: bold;
}
.ReactTable .-pagination .-btn[disabled] {
  background: rgb(214, 209, 209) !important;
  opacity: 0.5;
  border-radius: 5px;
  color: #004a9b;
  font-weight: bold;
  cursor: default;
}
.ReactTable .-pagination .-btn:not([disabled]):hover {
  background: #004a9b !important;
  color: #fff;
}
/**********************************************/
.smallButtonOverride {
  background: #004a9b !important;
  font-family: "Helvetica" !important;
  size: 16px !important;
  color: white;
}
.largeButtonOverride {
  background: #004a9b !important;
  font-family: "Helvetica" !important;
  size: 16px !important;
  color: white;
}
.exportToExcelButton {
  background: #004a9b;
  font-family: "Helvetica";
  size: 16px !important;
  color: white;
  height: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  border: 1px solid #004a9b;
}
